.agent-button {
  width: 50px;
  height: 25px;
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
}

#message_bar {
  z-index: 100;
}

.field.is-horizontal .field-label {
  align-items: center;
}

.field.is-horizontal .field-body {
  align-items: center;
}

.agent-depart-row {
  cursor: pointer;
}
